<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tyoaikaseuranta</title>
  </head>
    
    <body>
      {% if current_user.is_authenticated %}
      <p>
	Kirjautunut nimellä {{ current_user.name }}.  <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
      </p>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
      {% endif %}

      <ul>
	<li><a href="{{ url_for('tyoajat_index') }}">Listaa tyoaika</a></li>
	<li><a href="{{ url_for('tyoajat_form') }}">Lisää tyoaika</a></li>
        <li><a href="{{ url_for('projektit_index') }}">Listaa projektit</a></li>
        <li><a href="{{ url_for('projektit_form') }}">Lisää projekti</a></li>
      </ul>

  <body>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
