{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>id</th>
      <th>nimi</th>
      <th>valmis</th>
      <th>projektipaalllikko</th>
    </tr>
    {% for projektit in projektit %}
    <tr>
      <td>{{ projektit.id }}</td>
      <td>{{ projektit.nimi }}</td>
      <td>{{ projektit.valmis }}</td>
      <td>{{ projektit.projektipaallikko }}</td>
      <td>
        <form method"POST" action="{{ url_for('projektit_aseta_valmiiksi', projekti_id=projektit.id) }}">
          <input type="submit" value="Aseta valmiiksi!"/>
        </form>
      </td>
      <td>
        <form method"POST" action="{{ url_for('projektit_poista', projekti_id=projektit.id) }}">
          <input type="submit" value="Poista projekti"/>
        </form>
      </td>
      <td>
        <form method"POST" action="{{ url_for('projektit_kaikki', projekti_id=projektit.id) }}">
          <input type="submit" value="Näytä yhteenveto"/>
        </form>
      </td>

    </tr>
    {% endfor %}
  </table>
{% endblock %}

